.elementsList {
    display: grid;
    gap: 12px;
    padding: 12px;
    grid-template-columns: repeat(auto-fit,minmax(320px, 520px));
    justify-content: center;
}

.element {
    position: relative;
    align-self: start;
}

.deleteButton {
    position: absolute;
    bottom: 18px;
    right: 9px;
}

.addButton {
    width: 100%;
    min-width: 320px;
    max-width: 550px;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    min-height: 490px;
}
