.disabledMode {
    color: #ffffff77;
    position: relative;
}

.disabledMode::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    cursor: pointer;
}

.disabledMode:hover {
    color: #ffffff99;
}
